* {
  margin: 0;
  padding: 0;
}

/* Remaining code */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

:root {
  --white: #ffffff;
  --light-gray-op: #999da4bd;
  --light-gray: #9da4bd;
  --medium-gray: #555555;
  --dark-gray: #303030;
  --black: #000000;
  --orange: #ff6c00;

  --raleway: "Raleway", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--open-sans);
}

button {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  /*  */
  border: 1px solid rgb(255, 108, 0);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
}

.eyebrow {
  color: var(--dark-gray);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.caption {
  color: var(--medium-gray);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.heading {
  color: var(--dark-gray);
  font-size: 42px;
  font-weight: 700;
  line-height: 49.31px;
  letter-spacing: 2.1px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER SECTION */
.header {
  background-color: var(--medium-gray);
  position: fixed;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item-link {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.nav-item-link:hover,
.address-link:hover {
  color: var(--orange);
  cursor: pointer;
}

.address-link {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

/* HERO SECTION */
.hero {
  background-color: var(--light-gray-op);
  background-image: url(./images/hero-image-01.jpg);
}

.hero-eyebrow {
  color: var(--light-gray-op);
}

.hero-heading {
  color: var(--white);
  font-family: var(--raleway);
  font-size: 72px;
  letter-spacing: 3.6px;
}

.hero-paragraph {
  color: var(--light-gray);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.hero-list-item-link {
  color: var(--dark-gray);
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 2.2px;
}

/* ABOUT SECTION */
.about-paragraph {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.28px;
}

/* SERVICE SECTION */
.service {
  background-color: var(--dark-gray);
}

.service-eyebrow {
  color: var(--light-gray-op);
}

.service-heading {
  color: var(--white);
}

.service-list-item {
  color: var(--light-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

/* AWARDS SECTION */
.awards-list-item-heading {
  color: var(--dark-gray);
  font-size: 42px;
  line-height: 57.2px;
  letter-spacing: 2.1px;
}

.awards-list-item-p {
  color: var(--dark-gray);
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
}

/* BARBERS SECTION */
.barbers-list-item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  letter-spacing: 0.36px;
}

.barbers-list-item-title {
  color: var(--orange);
  font-size: 14px;
  letter-spacing: 0.28px;
}

/* GALLERY */

/* CONTACTS */
.contacts {
  background-color: var(--dark-gray);
}

.contacts-heading {
  color: var(--white);
}

.contacts-address-list {
  color: var(--light-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.contacts-address-list-item-link {
  color: var(--light-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.contacts-address-span {
  color: var(--white);
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.contacts-address-schedule {
  color: var(--light-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

/* FOOTER SECTION */
.footer-copyright,
.footer-list-item-link {
  color: var(--light-gray);
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 2.2px;
}

.footer-list-item-link {
  color: var(--dark-gray);
}

.footer-list-item-link:hover {
  color: var(--orange);
}
